@charset "UTF-8";

/*
    CONTENTS:
    01. Main Style
    02. Header
    03. Footer
    04. Responsive
    */

/* 01. Main Style */

body {
    font-family: "Karla", sans-serif;
    margin: 0;
    background-color: #f9f9f9;
}

.wrap {
    position: relative;
    opacity: 0;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.container-spacer {
    width: 100%;
    padding: 0 32px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    color: #272838;
    margin: 0;
    line-height: 1.15;
}

h1 {
    font-size: 64px;
    letter-spacing: -1.8px;
}

h2 {
    font-size: 48px;
    letter-spacing: -1px;
}

h3 {
    font-size: 32px;
    letter-spacing: -0.6px;
}

h4 {
    font-size: 24px;
    letter-spacing: -0.4px;
}

h5 {
    font-size: 18px;
    letter-spacing: -0.2px;
}

h6 {
    font-size: 16px;
    letter-spacing: -0.1px;
}

p {
    color: #3a3b42;
    font-size: 24px;
    line-height: 1.5;
}

a {
    color: #000fff;
    border-bottom: 2px solid rgba(0, 15, 255, .32);
    text-decoration: none;
    transition: 200ms border-color ease-in-out, 200ms color ease-in-out;
}

a:hover {
    border-color: #000fff;
}



.mobile-break {
display:inline;
margin-left:2.5em;


}

ul, ol {
    font-size: 24px;
    line-height: 38px;
    color: #3a3b42;
    padding: 0 0 0 22px;
}

.spacer {
    padding: 0 80px;
}

.mar-bot-lg {
    margin-bottom: 116px;
}

.mar-bot-md {
    margin-bottom: 100px;
}

.mar-bot-sm {
    margin-bottom: 88px;
}

.mar-bot-xs {
    margin-bottom: 40px;
}

.mar-top-lg {
    margin-top: 110px;
}

.mar-top-md {
    margin-top: 80px;
}

.mar-top-sm {
    margin-top: 60px;
}

.mar-top-xs {
    margin-top: 40px;
}


}

.intro .intro-text {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 120px;
    text-align: center;
}

.intro .intro-text h1 {
    font-size: 140px;
    line-height: 154px;
}



main {
    padding-top: 80px;
}

::-moz-selection {
    background: #000fff;
    color: #fff;
}

::selection {
    background: #000fff;
    color: #fff;
}


.page-intro {
    text-align: center;
}

.page-title {
    font-size: 84px;
}

.page-content h2 {
    margin: 32px 0;
}

.page-content h3 {
    margin-top: 46px;
    margin-bottom: 26px;
}

.page-content h4 {
    margin: 20px 0;
}

.page-content h5 {
    margin: 16px 0;
}

.page-content h6 {
    margin: 10px 0;
}

.page-content p {
    font-size: 20px;
    line-height: 32px;
}

.page-content p.lead {
    font-size: 24px;
    line-height: 38px;
}

.page-content-image {
    margin: 12px 0;
}

.page-content-image img {
    width: 100%;
}

.page-section-title p {
    margin-top: 20px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: left;
}

.social-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
}

.social-links ul li {
    display: inline-block;
    margin-right: 40px;
}

.social-links ul li:last-child {
    margin-right: 0;
}

.social-links ul li a {
    display: block;
    color: #fff;
    border-bottom: 2px solid rgba(0, 15, 255, .32)
}

.social-links ul li a:hover {
    border-color: #000fff;
}

.load-more {
    text-align: center;
    margin-top: 32px;
}

.load-more a {
    color: #272838;
    border-color: rgba(0, 15, 255, 0);
}

.load-more a:hover {
    color: #000fff;
    border-color: rgba(0, 15, 255, .32);
}

::-webkit-input-placeholder {
    color: #ccccd4;
}

:-ms-input-placeholder {
    color: #ccccd4;
}

::-ms-input-placeholder {
    color: #ccccd4;
}

::placeholder {
    color: #ccccd4;
}


@-webkit-keyframes page-in {
    0% {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

@keyframes page-in {
    0% {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

.page-in {
    -webkit-animation-name: page-in;
            animation-name: page-in;
}

@-webkit-keyframes page-out {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
        opacity: 0;
    }
}

@keyframes page-out {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
        opacity: 0;
    }
}

.page-out {
    -webkit-animation-name: page-out;
            animation-name: page-out;
}

/* 02. Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    z-index: 999;
    transition: 200ms opacity ease-in, 200ms -webkit-transform ease-in;
    transition: 200ms transform ease-in, 200ms opacity ease-in;
    transition: 200ms transform ease-in, 200ms opacity ease-in, 200ms -webkit-transform ease-in;
}

header .logo {
    display: inline-block;
    height: 16px;
    border: none;
    margin-top: 32px;
    position: relative;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -0.2px;
    text-transform: capitalize;
    color: #272838;
    border-bottom: 2px solid rgba(0, 15, 255, 0);
    padding-bottom: 4px;
    transition: 200ms color ease-in-out, 200ms border-color ease-in-out;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    padding: 28px 48px 22px 0;
    line-height: 1.2;
}

header nav ul li a, header nav ul li span {
    display: block;
    position: relative;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: -0.2px;
    text-transform: capitalize;
    color: #272838;
    border-bottom: 2px solid rgba(0, 15, 255, 0);
    padding-bottom: 4px;
    transition: 200ms color ease-in-out, 200ms border-color ease-in-out;
}

header nav ul li a:hover, header nav ul li span:hover {
    color: #000fff;
    cursor: pointer;
    border-color: rgba(0, 15, 255, .32);
}

header nav ul li.current a, header nav ul li.current span {
    color: #000fff;
    border-color: #000fff;
}

header nav ul li.current a:after, header nav ul li.current span:after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left center;
             transform-origin: left center;
}

header nav ul li.dropdown {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
}

header nav ul li.dropdown ul {
    position: absolute;
    top: 100%;
    left: -16px;
    padding: 8px 16px 12px;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    width: 160px;
    z-index: 1;
    transition: 160ms opacity ease-in-out, 160ms visibility ease-in-out;
}

header nav ul li.dropdown ul li {
    display: block;
    padding: 0;
    opacity: 0;
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
}

header nav ul li.dropdown ul li:nth-child(1) {
    transition: none;
}

header nav ul li.dropdown ul li:nth-child(2) {
    transition: none;
}

header nav ul li.dropdown ul li:nth-child(3) {
    transition: none;
}

header nav ul li.dropdown ul li:nth-child(4) {
    transition: none;
}

header nav ul li.dropdown ul li:nth-child(5) {
    transition: none;
}

header nav ul li.dropdown ul li:nth-child(6) {
    transition: none;
}

header nav ul li.dropdown ul li:nth-child(7) {
    transition: none;
}

header nav ul li.dropdown ul li:nth-child(8) {
    transition: none;
}

header nav ul li.dropdown ul li:nth-child(9) {
    transition: none;
}

header nav ul li.dropdown ul li:nth-child(10) {
    transition: none;
}

header nav ul li.dropdown ul li a {
    font-family: "Karla", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 8px 0;
    color: #000fff;
    border: none;
}

header nav ul li.dropdown ul li a:after {
    display: none;
}

header nav ul li.dropdown ul li a:hover {
    color: #272838;
}

header nav ul li.dropdown div {
    padding-top: 28px;
    padding-bottom: 22px;
}

header nav ul li.dropdown div:hover span {
    color: #000fff;
    cursor: pointer;
    border-color: rgba(0, 15, 255, .32);
}

header nav ul li.dropdown div:hover ul {
    visibility: visible;
    opacity: 1;
}

header nav ul li.dropdown div:hover ul li {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

header nav ul li.dropdown div:hover ul li:nth-child(1) {
    transition: 200ms 80ms transform ease-in-out, 200ms 80ms opacity ease-in-out;
}

header nav ul li.dropdown div:hover ul li:nth-child(2) {
    transition: 200ms 160ms transform ease-in-out, 200ms 160ms opacity ease-in-out;
}

header nav ul li.dropdown div:hover ul li:nth-child(3) {
    transition: 200ms 240ms transform ease-in-out, 200ms 240ms opacity ease-in-out;
}

header nav ul li.dropdown div:hover ul li:nth-child(4) {
    transition: 200ms 320ms transform ease-in-out, 200ms 320ms opacity ease-in-out;
}

header nav ul li.dropdown div:hover ul li:nth-child(5) {
    transition: 200ms 400ms transform ease-in-out, 200ms 400ms opacity ease-in-out;
}

header nav ul li.dropdown div:hover ul li:nth-child(6) {
    transition: 200ms 480ms transform ease-in-out, 200ms 480ms opacity ease-in-out;
}

header nav ul li.dropdown div:hover ul li:nth-child(7) {
    transition: 200ms 560ms transform ease-in-out, 200ms 560ms opacity ease-in-out;
}

header nav ul li.dropdown div:hover ul li:nth-child(8) {
    transition: 200ms 640ms transform ease-in-out, 200ms 640ms opacity ease-in-out;
}

header nav ul li.dropdown div:hover ul li:nth-child(9) {
    transition: 200ms 720ms transform ease-in-out, 200ms 720ms opacity ease-in-out;
}

header nav ul li.dropdown div:hover ul li:nth-child(10) {
    transition: 200ms 800ms transform ease-in-out, 200ms 800ms opacity ease-in-out;
}

header nav ul li.dropdown.current div:hover span {
    border-color: #000fff;
}

header nav ul li:last-child {
    padding-right: 0;
}

header .nav-toggle {
    display: none;
    position: relative;
    float: right;
    margin-top: 24px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: -0.2px;
    text-transform: capitalize;
    color: #000fff;
    border-bottom: 2px solid rgba(0, 15, 255, .32);
    padding-bottom: 4px;
    transition: 200ms color ease-in-out, 200ms border-color ease-in-out;
}

header .nav-toggle:hover {
    color: #000fff;
    cursor: pointer;
    border-color: #000fff;
}

header.hide {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
}


/* 03.Projects */

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card {
   padding: 10px;
}


    

/* 03. Footer */

footer {
    background-color: #f9f9f9;
    padding: 136px 0;
}

footer .logo {
    display: inline-block;
    width: 112px;
    height: 16px;
    background-image: url("../img/logo_white.svg");
    background-repeat: no-repeat;
    border: none;
}

footer .footer-contacts {
    text-align: left;
}

footer .footer-contacts .wrap {
    display: inline-block;
    text-align: left;
}

footer .footer-contacts p, footer .footer-contacts a {
    color: #272838;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
}

footer .footer-contacts a {
    display: inline-block;
    border-color: rgba(255, 255, 255, .32);
}

footer .footer-contacts a:hover {
    border-color: #272838;
}

footer .footer-contacts .email {
    margin: 0px 36px 10px 0px;
}    




/* 4. Responsive */

@media screen and (max-width: 1024px) {
    .spacer {
        padding: 0 24px;
    }

    
    header {
        height: 80px;
    }

    header nav {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        text-align: center;
        overflow-y: scroll;
        padding-top: 32px;
        opacity: 0;
        visibility: hidden;
        transition: 100ms opacity linear, 100ms visibility linear;
    }

    header nav ul {
        margin: auto;
    }

    header nav ul li {
        display: block;
        padding: 16px 0;
    }

    header nav ul li a, header nav ul li span {
        display: inline-block;
        font-size: 48px;
        letter-spacing: -0.6px;
    }

    header nav ul li.dropdown span {
        position: relative;
    }

    header nav ul li.dropdown span:after {
        content: "";
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        right: -30px;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #272838 transparent transparent transparent;
    }

    header nav ul li.dropdown.current span:after {
        border-color: #000fff transparent transparent transparent;
    }

    header nav ul li.dropdown ul {
        display: none;
        position: static;
        width: 100%;
        visibility: visible;
        opacity: 1;
        padding-bottom: 0;
    }

    header nav ul li.dropdown ul li {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }

    header nav ul li.dropdown ul li a {
        font-size: 28px;
    }

    header.nav-responsive nav {
        opacity: 1;
        visibility: visible;
    }

    header.nav-responsive.hide {
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }

    header .nav-toggle {
        display: inline-block;
    }

  
}

@media screen and (max-width: 768px) {
    .mar-bot-lg {
        margin-bottom: 84px;
    }


    .mar-bot-md {
        margin-bottom: 68px;
    }

    .mar-bot-sm {
        margin-bottom: 56px;
    }

    .mar-top-lg {
        margin-top: 84px;
    }

    .mar-top-md {
        margin-top: 68px;
    }

    .mar-top-sm {
        margin-top: 56px;
    }

    header nav ul li {
        display: block;
        padding: 14px 0;
    }

    header nav ul li a, header nav ul li span {
        font-size: 36px;
        letter-spacing: -0.4px;
    }

    header nav ul li.dropdown div {
        padding: 14px 0;
    }

    header nav ul li.dropdown ul li a {
        font-size: 22px;
    }

    
    .page-content h2 {
        margin: 24px 0;
    }

    .page-content h3 {
        margin: 18px 0;
    }

    .page-content h4 {
        margin: 14px 0;
    }

    .page-content h5 {
        margin: 10px 0;
    }

    .page-content h6 {
        margin: 8px 0;
    }

   

    footer {
        padding: 88px 0;
    }

}

@media screen and (max-width: 425px) {

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 13px;
    }

    p {
        font-size: 20px;
    }

    ul, ol {
        font-size: 20px;
        line-height: 1.5;
        color: #3a3b42;
        padding: 0 0 0 22px;
    }

    .mar-bot-lg {
        margin-bottom: 60px;
    }

    .mar-bot-md {
        margin-bottom: 44px;
    }

    .mar-bot-sm {
        margin-bottom: 32px;
    }

    .mar-bot-xs {
        margin-bottom: 20px;
    }

    .mar-top-lg {
        margin-top: 60px;
    }

    .mar-top-md {
        margin-top: 44px;
    }

    .mar-top-sm {
        margin-top: 32px;
    }

    .mar-top-xs {
        margin-top: 20px;
    }

    header {
        height: 60px;
    }

    header .logo {
        margin-top: 24px;
    }

    header .nav-toggle {
        margin-top: 18px;
    }

    main {
        padding-top: 60px;
    }

    .spacer {
        padding: 0 15px;
    }

    .intro .intro-text {
        padding: 0 24px;
    }

    .intro .intro-text h1 {
        font-size: 50px;
    }

   

    .page-title {
        font-size: 50px;
    }

    .page-content h2, .page-content h4 {
        margin: 0;
    }

    .page-content p.lead {
        font-size: 22px;
        line-height: 1.5;
    }

  

    footer .footer-contacts {
        margin: 48px 0;
        text-align: left;
    }

    footer .social-links {
        text-align: left;
    }



.mobile-break {
display: block;
margin-left:3em;


}

}
